{:name "Excel-revolution at Steel Factory in 1989",
 :date "2022-05-29",
 :updated "2024-12-25",
 :id "ovako-excel",
 :id-long "excel-revolution-at-steel-factory-in-1989",
 :tags #{"Computers" "Jobs" "Programming" "Career"}}
