{:name "Creating the INFIA Spectrum Analysis Software in 1996-1998",
 :id "infia",
 :id-long "creating-the-infia-spectrum-analysis-software-in-1996-1998",
 :date "2024-12-21",
 :tags #{"Computers" "Jobs" "Programming" "Career"}}
