{:name "My entry to Quantum Chemistry programming",
 :date "2023-01-03",
 :id "entry-to-chemistry-programming",
 :id-long "starting-on-a-career-in-computational-quantum-chemistry" 
 :blog "building-programs"
 :tags
 #{"Computers"
   "Mathematics"
   "Physical Chemistry"
   "C++"
   "Programming"
   "Chemistry"
   "Learning"
   "Career"}}
