{:name "Developer experience in 1987 with C64 vs modern tools",
 :date "2021-12-18",
 :id "ruletti-developer-experience",
 :id-long "developer-experience-in-1987-with-c64-vs-modern-tools",
 :blog "building-programs"
 :tags #{"Development Tools" "Computers" "Commodore" "Programming"}}
