{:name "Death by Fortran Common Block",
 :id "death-by-fortran-common-block",
 :date "2024-01-17" 
 :blog "building-programs"
 :tags
 #{"Computers"
   "Physical Chemistry"
   "Fortran"
   "Programming"
   "Chemistry"}}
