{:name "Mäntyharju 'Uitonranta' Cottage arrival instructions",
 :id "airbnb-mantyharju-arrival",
 :date "2025-09-06",
 :blog "airbnb-mantyharju"
 :tags
 #{"Airbnb"
   "Mäntyharju"
   "Finland"
   "Cottage"
   "Instructions"}}
