{:name "Tammisaari 'Skinnaräng' Cottage instructions",
 :id "airbnb-tammisaari-instructions",
 :date "2025-09-16",
 :blog "airbnb-tammisaari"
 :tags
 #{"Airbnb"
   "Tammisaari"
   "Raasepori"
   "Finland"
   "Cottage"
   "Instructions"}}
