{:name "Why do I like Programming, part 2: AI coding agents",
 :id "i-like-coding-agents",
 :date "2025-09-25",
 :blog "building-programs"
 :tags #{"Computers" "Programming" "Learning" "AI" "LLM" "Agents" "Augment Code"}}
