{:name "Mäntyharju outside activities and sightseeing",
 :id "airbnb-mantyharju-activities",
 :date "2025-09-23",
 :blog "airbnb-mantyharju"
 :tags
 #{"Airbnb"
   "Mäntyharju"
   "Finland"
   "Cottage"
   "Instructions"
   "Activities"
   "Sightseeing"}}
