{:name "Tammisaari Cottage Dishwasher instructions",
 :id "airbnb-tammisaari-dishwasher",
 :date "2025-09-20",
 :blog "airbnb-tammisaari"
 :tags
 #{"Airbnb"
   "Tammisaari"
   "Raasepori"
   "Finland"
   "Cottage"
   "Instructions"
   "Dishwasher"}}
