{:name "Why do I like Programming so much?",
 :id "i-like-programming",
 :id-long "why-do-i-like-programming-so-much",
 :date "2022-05-08",
 :blog "building-programs"
 :tags #{"Computers" "Programming" "Learning"}}
